<td>
	{if !$presentation->deleted}<a n:href="Editor: id => $presentation->id">{/if}
	{if $presentation->name}{$presentation->name}{else}<i>noname</i>{/if}
	{if !$presentation->deleted}</a>{/if}
</td>
<td>
	{$presentation->created|datetime}
</td>
<td>
	{if $presentation->published}{$presentation->publishedAt|datetime}{else}<strong>not yet</strong>{/if}
</td>
<td>
	{$presentation->updated|datetime}
</td>
<td>
	{$presentation->user->name}
</td>