html, body {height: 100%; background: #EEE}

body {padding: 60px 0 0;}

label {font-weight: normal}
a {cursor: pointer}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;

	padding: 0 15px;
	height: 60px;
	line-height: 60px;
	background: @dark-blue;
	font-size: 115%;

	.logo {
		display: inline-block;
		height: 30px;
		width: 108px;
		background: url(../images/logo.png);
		position: relative;
		top: 7px;
		font-size: 130%;
		margin-right: 30px;
		text-decoration: none;

		.triangle {color: white; display: none;}
		.label {color: @orange; font-weight: bold; display: none;}
		&:hover {
			opacity: 0.9;
		}
	}

	a {color: #61aeda}
	a:hover {color: white; text-decoration: none;}

	.sep {
		margin: 0 5px;
		color: #405a73;
	}
}

.table-list {
	background: white;
	.table;
	border: 1px solid @table-border-color;
	th {
		background: #DDD;
	}
	td {
		vertical-align: middle !important;
	}
	td.buttons {
		text-align: right;
	}
}

.preview-list {
	.row; .clearfix;

	.presentation {
		h3 {font-size: 150%}
		.presentation-preview {
			min-height: 10em;
			box-shadow: #BBB 0 0 5px;
		}
	}

	.toolbar {
		margin: 10px 0 0; text-align: center;
	}
}

.content {
	padding: 30px 0;

	h1 {
		color: @dark-blue;
		font-size: 200%;
		margin: 0 0 30px;
	}

	h2 {
		color: @dark-blue;
		font-size: 180%;
		margin: 1em 0;
	}

	.page-toolbar {
		margin: 0 0 2em;
		a.link {line-height: 32px}
	}
}