.editor-properties {
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;
	padding: 0 15px 15px;
	width: 20%;
	background: #EEE;
	overflow: auto;

	h3 {
		color: @dark-blue;
		font-size: 120%;
		margin: 15px 0;
	}

	* + h3 {
		margin-top: 30px;
	}

	.theme-list {
		.make-row(14px);
		.theme-wrapper {
			padding: 4px; background: #DDD;
			.variants {display: none}

			&:hover {
				background: #AAA;
				.variants {display: block}
				.text {display: none}
			}
			&.active {
				background: #ff6f1d;
			}
		}
		.theme-column {
			.make-sm-column(6);
			padding: 0 7px;
			margin-bottom: 15px;
		}

		.slide-content {
			padding: 5px; min-height: 4em;
		}

		.text {
			padding: 10px; margin: 0;
		}
		.variants, .variants div {
			margin: 0;
		}
		.variant-preview {
			display: inline-block; width: 18px; height: 18px;
			border: 4px solid #FFF;
			cursor: pointer;
			box-shadow: 0 0 3px #AAA;
			border-radius: 2px;
			&:hover {
				box-shadow: 0 0 3px #000;
			}
			&.active {
				border-width: 1px !important;
				box-shadow: 0 0 3px #000;
			}
		}
	}
}

.editor-content {
	position: fixed;
	top: 60px;
	left: 20%;
	bottom: 0;
	width: 50%;
	padding: 56px 5px 5px;
	background: white;

	.toolbar {
		position: absolute; left: 0; top: 0;
		padding: 10px 10px;
		width: 100%;
		color: #BBB;
		border-bottom: 1px solid #EEE;
		a {
			cursor: pointer;
			display: inline-block;
			padding: 5px 7px;
			border-radius: 3px;

			&:hover {
				background: #EEE;
			}
		}
	}

	#editor {height: 100%}
}

.editor-preview {
	position: fixed;
	top: 60px;
	right: 0;
	bottom: 0;
	width: 30%;
	background: #EEE;
	padding-top: 50px;

	.preview-header {
		position: absolute; left: 0; top: 0;
		width: 100%;
		padding: 15px;

		.btn {
			position: relative; top: -3px;
		}

		h3 {
			color: @dark-blue;
			font-size: 120%;
			margin: 0;
		}
	}

	.preview-content {
		padding: 5px 15px;
		overflow: auto;
		height: 100%;
	}

	.slide {
		min-height: 150px;
		margin-bottom: 15px;
		border: 1px solid #BBB;
		box-shadow: #BBB 0 0 5px;
	}

}

.image-upload-form {
	background: #EEE;
	padding: 10px;
	input {display: inline-block}
}

.ace_editor {font-family: 'Consolas', 'Courier New', monospace !important; font-size: 13px !important;}
.ace_emphasis {font-style: italic}
.ace_strong {font-weight: bold}
.ace_heading {color: @orange !important;}
.ace_url {color: @link-color}
.ace_list, .ace_blockquote, .ace_modifier, .ace_image, .ace_figure, .ace_block {color: #BBB !important}