.hp-description {
	text-align: center; padding-top: 4em; font-size: 120%; color: #666;
	strong {color: black}
	.hp-btn {margin-top: 30px}
}

.hp-image {
	text-align: center;
	img {max-width: 100%}
}

.hp-presentations {
	background: white;
	h2 {margin-top: 45px}
	h2:first-child {margin-top: 0}
}