.theme-dark {
	@heading: #0f353c;
	@heading-text: white;
	@body: black;
	@body-text: #f6fbd0;

	&.theme-preview {
		background: @body; color: @body-text;
		.heading {background: @heading; color: @heading-text;}
	}

	.slide {
		background: @body;
		color: @body-text;

		h1, h2 {
			background: @heading;
			color: @heading-text;
		}
	}
}