.theme-preview {
	height: 5em;

	.body, .heading {padding: 0.25em}
}

.present-mode {
	font-size: 180%;
}

.slide {
	h1, h2 {
		margin: 0;
		padding: 0.25em;
		text-align: center;
		font-size: 200%;
	}

	h3 {
		font-size: 150%;
	}

	div.slide-content {
		padding: 1em;
	}

	img {
		max-width: 100%;
	}

	table {
		width: 100%;
	}
	th, td {
		padding: 0.5em 1em;
		text-align: center;
	}
}