.theme-default {
	@heading: #ff8b49;
	@heading-text: white;
	@body: white;
	@body-text: black;
	@th: #DDD;

	&.theme-preview {
		background: @body; color: @body-text;
		.heading {background: @heading; color: @heading-text; font-weight: bold; text-align: center;}
	}

	.slide {
		background: @body;
		color: @body-text;

		h1, h2 {
			background: @heading;
			color: @heading-text;
		}
	}

	.slide-content {
		div, ul, table, p {
			margin: 0 0 1em;
		}

		table {
			th, td {
				border: 0.1em solid #AAA;
			}
			th {
				background: @th;
			}
		}
	}


}