.slide-header {
	text-align: center; font-weight: bold;
	padding: 0.5em 0.25em;

	h1, h2, h3 {margin: 0;}
}

.presentation-preview {
	min-height: 5em;
	text-align: center;
}

.slide {
	.slide-header {
		font-size: 200%;
	}

	h3 {
		font-size: 150%;
		margin: 1em 0;
	}

	h4 {
		font-size: 130%;
		margin: 1em 0;
	}

	div.slide-content {
		padding: 1em;
		overflow: auto;
	}

	img {
		display: block;
		margin: 0 auto 1em;
		max-width: 100%;
	}

	table {
		width: 100%;
	}
	th, td {
		padding: 0.5em 1em;
		text-align: center;
	}

	pre {font-size: 100%; background: none; border: none; padding: 0;}
	blockquote {font-size: 100%; padding: 0.5em 1em; border-width: 0.25em}
}

.slide-content {
	padding: 1em;
	div, ul, ol, table, p, blockquote, pre {
		margin: 0 0 1em;
	}
}