.theme-preview {
	height: 5em;

	.body, .heading {padding: 0.25em}
}

.present-mode {
	font-size: 180%;
}

.slide {
	h1, h2 {
		margin: 0;
		padding: 0.25em;
		text-align: center;
		font-size: 200%;
	}

	h3 {
		font-size: 150%;
	}

	div.slide-content {
		padding: 1em;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	table {
		width: 100%;
	}
	th, td {
		padding: 0.5em 1em;
		text-align: center;
	}
}

.present-bar {
	position: fixed; bottom: 2px; left: 2px;
	z-index: 9999;

	background: #DDD;
	border: 1px solid #BBB;
	padding: 3px 5px;

	.sep {color: #BBB}
	input {
		width: 50px;
	}
	a {
		cursor: pointer;
		text-decoration: none;
		padding: 0 5px;
	}
	a.close {
		color: #ba191e;
		&:hover {color: #97191e}
	}
	a.disabled {
		color: #AAA; cursor: default;
	}
}