.theme-dark {
	@heading: #2c576f;
	@heading-text: #84d1fb;
	@body: black;
	@body-text: white;

	.slide, &.theme-preview {
		background-color: @body;
		color: @body-text;

		.heading, h1, h2 {
			#gradient > .vertical(@heading, @body);
			color: @heading-text;
		}
	}

	.slide {
		table {
			th, td {
				border: 0.1em solid #AAA;
			}
			th {
				background: @heading;
			}
		}

		pre {
			color: @body-text;
		}

		blockquote {
			border-color: @heading-text; color: @heading-text;
		}
	}
}