{var $title = 'Dokončení registrace'}

{block #content}

<h1>{$title}</h1>

<p>
	Registrace je již téměř hotová. Pro její dokončení prosím zkontrolujte svou e-mailovou schránku a potvrďte svou
	registraci pomocí odkazu v registračním e-mailu.
</p>

<p>Děkujeme.</p>
