{var $title = 'Published presentations by ' . $currentUser->name}

{block h1}
	<h1>{$user->identity|userIcon} {$title}</h1>
{/block}

{block content}

<div class="row preview-list">
	<div n:foreach="$presentations as $presentation" class="col-md-3 col-sm-4 col-xs-6">
		{control presentationPreview $presentation}
	</div>
</div>