parameters:
  email: presidos@presidos.com
  emailName: Presidos

php:
  date.timezone: Europe/Prague

nette:
  session:
    expiration: 14 days

  application:
    errorPresenter: Error
    mapping:
      *: Presidos\*\Presenter\*Presenter
  security:
    frames:

extensions:
  doctrine2identity: Majkl578\NetteAddons\Doctrine2Identity\DI\IdentityExtension

services:
  router: Presidos\Router\RouterFactory::createRouter

  # doctrine
  emFactory:
    class: Presidos\Doctrine\EntityManagerFactory
    arguments:
      - %database%
      - %debugMode%
      -
        - %appDir%
      - %tempDir%/proxies
      - @cacheStorage
  em:
    class: Doctrine\ORM\EntityManager
    factory: @emFactory::createEntityManager()

  # users
  userRepository:
    class: Presidos\User\UserRepository
    factory: @em::getRepository('Presidos\User\User')
  passwordAuthenticator: Presidos\User\PasswordAuthenticator
  facebook: Facebook( {appId: %facebook.appId%, secret: %facebook.appSecret%} )
  facebookAuthenticator: Presidos\User\FacebookAuthenticator
  registerEmailFactory: Presidos\User\Email\RegisterEmailFactory(%email%, %emailName%)
  forgottenEmailFactory: Presidos\User\Email\ForgottenEmailFactory(%email%, %emailName%)

  # presentations
  presentationRepository:
    class: Presidos\Presentation\PresentationRepository
    factory: @em::getRepository('Presidos\Presentation\Presentation')
  presentationFactory: Presidos\Presentation\PresentationFactory
  themeRepository:
    class: Presidos\Presentation\ThemeRepository
    factory: @em::getRepository('Presidos\Presentation\Theme')

  texyFactory: Presidos\Presentation\Generator\TexyFactory
  texy: @texyFactory::createTexy()
  generator: Presidos\Presentation\Generator\Generator

  #fixtures
  fixtures: Presidos\Fixtures\Fixtures
  fixturesCommand: Presidos\Fixtures\FixturesCommand