parameters:
  database:
    driver: pdo_mysql
    host: localhost
    dbname: presidos
    user: root
    password:

services:
  nette.mailer:
    class: Nextras\MailPanel\SessionMailer

nette:
  container:
    debugger: true
  debugger:
    bar:
      - Nextras\MailPanel\MailPanel