{extends none}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Presidos</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{link //:Homepage:}generated/presidos.css">
</head>
<body>
<div class="present-mode {$presentation->theme->className}">
	{!$html}
</div>
</body>
</html>