<html>
<head>
	<title>Presidos - forgotten password</title>
</head>
<body>
<p>
	Please follow the link
	<a n:href="//:User:Password:new email => $registeredUser->email, hash => $registeredUser->hash">link</a>
	and fill new password.
</p>
</html>