<html>
<head>
	<title>Your SlideBox account has been created</title>
</head>
<body>
<p>
	Thank you for registration.

	Now please finish your registration and allow your account by clicking on
	<a n:href="//:User:Register:allow email => $registeredUser->email, hash => $registeredUser->hash">link</a>.
</p>
</html>