<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{if isset($title)}{$title} - {/if}Presidos</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
	<meta name="viewport" content="width=device-width">
	<meta property="og:image" content="">
	<meta property="og:title" content="{if isset($title)}{$title}{else}Presidos{/if}">
	<meta property="og:url" content="{link //this}">
	<meta property="og:site_name" content="Presidos">
	<meta property="og:type" content="">

	<link rel="shortcut icon" href="{$basePath}/favicon.png" type="image/png">
	<link rel="stylesheet" href="{$basePath}/generated/presidos.css">
</head>

{block bodyTag}<body>{/block}
	{include #content}
	{block js}
		<script src="{$basePath}/generated/web.js"></script>
	{/block}
</body>
</html>
