<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{if isset($title)}{$title} - {/if}Presidos</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
	<meta name="viewport" content="width=device-width">
	<meta property="og:image" content="">
	<meta property="og:title" content="{if isset($title)}{$title}{else}Presidos{/if}">
	<meta property="og:url" content="{link //this}">
	<meta property="og:site_name" content="Presidos">
	<meta property="og:type" content="">

	<link rel="shortcut icon" href="{$basePath}/favicon.png" type="image/png">
	<link rel="stylesheet" href="{$basePath}/generated/presidos.css">
</head>

{block bodyTag}<body>{/block}
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=" + {$facebookAppId};
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	{block body}
		<div class="header">
			<div class="container">
			{block headerContent}
			<span class="pull-right">
				{if $user->loggedIn}
				<a n:href=":User:User:">
					<i class="fa fa-user"></i> {$user->identity->name}
				</a>
				<span class="sep">|</span>
				<a n:href=":User:Login:logout">log out</a>
				{else}
				<a n:href=":User:Login:">log in</a>
				<span class="sep">|</span>
				<a n:href=":User:Register:">register</a>
				{/if}
			</span>

			<a n:href=":Homepage:" class="logo">
				<span class="label">Presidos</span>
			</a>

			{if $user->loggedIn}
			<a n:href=":Presentation:List:default">My presentations</a>
			<span class="sep">|</span>
			<a n:href=":Presentation:List:create"><i class="fa fa-plus"></i> Create new</a>
			{/if}
			{/block}
			</div>
		</div>
		{block contentContainer}
		<div class="container content">
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>

			{block h1}<h1 n:ifset="$title">{$title}</h1>{/block}

			{include #content}
		</div>
		{/block}
	{/block}
	{block js}
		<script src="{$basePath}/generated/web.js"></script>
	{/block}
</body>
</html>
