<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{if isset($title)}{$title} - {/if}Presidos</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
	<meta name="viewport" content="width=device-width">
	{*<meta property="og:image" content="">*}
	<meta property="og:title" content="{if isset($title)}{$title}{else}Presidos{/if}">
	<meta property="og:url" content="{link //this}">
	<meta property="og:site_name" content="Presidos">
	<meta property="og:type" content="{$ogType}" n:if="isset($ogType)">

	<link rel="shortcut icon" href="{$basePath}/favicon.png" type="image/png">
	<link rel="stylesheet" href="{$basePath}/generated/presidos.css">
</head>

{block bodyTag}<body>{/block}
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=" + {$facebookAppId};
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	{block body}
		{block header}
		<div class="header navbar navbar-inverse navbar-fixed-top">
			<div class="container{if $presenter->name === 'Presentation:Editor'}-fluid{/if}">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-content">
						<span class="sr-only">Toggle menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a n:href=":Homepage:" class="navbar-brand">
						<span class="logo">
							<span class="sr-only">Presidos</span>
						</span>
					</a>
				</div>

				<div class="collapse navbar-collapse" id="menu-content">
					<ul class="nav navbar-nav" n:if="$user->loggedIn">
						<li n:class="$presenter->name === 'Presentation:List' ? active">
							<a n:href=":Presentation:List:default">My presentations</a>
						</li>
						<li>
							<a n:href=":Presentation:List:create"><i class="fa fa-plus"></i> Create new</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						{if $user->loggedIn}
						<li n:class="$presenter->name === 'User:User' ? active">
							<a n:href=":User:User:">
								<i class="fa fa-user"></i> {$user->identity->name}
							</a>
						</li>
						<li>
							<a n:href=":User:Login:logout">log out</a>
						</li>
						{else}
						<li n:class="$presenter->name === 'User:Login' ? active">
							<a n:href=":User:Login:">log in</a>
						</li>
						<li n:class="$presenter->name === 'User:Register' ? active">
							<a n:href=":User:Register:">register</a>
						</li>
						{/if}
					</ul>
				</div>
			</div>
		</div>
		{/block}
		{block contentContainer}
		<div class="container content">
			{block flashes}
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
			{/block}

			{block h1}<h1 n:ifset="$title">{$title}</h1>{/block}

			{include #content}
		</div>
		{/block}
	{/block}
	{block js}
		<script src="{$basePath}/generated/web.js"></script>
	{/block}
</body>
</html>
